APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ECPAY_MODE=test
ECPAY_CALLBACK_BASE_URL=${APP_URL}

ECPAY_TEST_MERCHANT_ID=3002599
ECPAY_TEST_HASH_KEY=spPjZn66i0OhqJsQ
ECPAY_TEST_HASH_IV=hT5OJckN45isQTTs
ECPAY_TEST_CHECKOUT_URL=https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5
ECPAY_TEST_QUERY_TRADE_INFO_URL=https://payment-stage.ecpay.com.tw/Cashier/QueryTradeInfo/V5

ECPAY_PROD_MERCHANT_ID=
ECPAY_PROD_HASH_KEY=
ECPAY_PROD_HASH_IV=
ECPAY_PROD_CHECKOUT_URL=https://payment.ecpay.com.tw/Cashier/AioCheckOut/V5
ECPAY_PROD_QUERY_TRADE_INFO_URL=https://payment.ecpay.com.tw/Cashier/QueryTradeInfo/V5

ECPAY_LOGISTICS_TEST_MERCHANT_ID=2000933
ECPAY_LOGISTICS_TEST_HASH_KEY=XBERn1YOvpM9nfZc
ECPAY_LOGISTICS_TEST_HASH_IV=h1ONHk4P4yqbl5LK
ECPAY_LOGISTICS_TEST_CREATE_URL=https://logistics-stage.ecpay.com.tw/Express/Create
ECPAY_LOGISTICS_TEST_QUERY_URL=https://logistics-stage.ecpay.com.tw/Helper/QueryLogisticsTradeInfo/V4
ECPAY_LOGISTICS_TEST_MAP_URL=https://logistics-stage.ecpay.com.tw/Express/map
ECPAY_LOGISTICS_TEST_SERVICE_URL=https://logistics-stage.ecpay.com.tw/Express/v2/
ECPAY_LOGISTICS_TEST_VISION=1.0.0

ECPAY_LOGISTICS_PROD_MERCHANT_ID=
ECPAY_LOGISTICS_PROD_HASH_KEY=
ECPAY_LOGISTICS_PROD_HASH_IV=
ECPAY_LOGISTICS_PROD_CREATE_URL=https://logistics.ecpay.com.tw/Express/Create
ECPAY_LOGISTICS_PROD_QUERY_URL=https://logistics.ecpay.com.tw/Helper/QueryLogisticsTradeInfo/V4
ECPAY_LOGISTICS_PROD_MAP_URL=https://logistics.ecpay.com.tw/Express/map
ECPAY_LOGISTICS_PROD_SERVICE_URL=https://logistics.ecpay.com.tw/Express/v2/
ECPAY_LOGISTICS_PROD_VISION=1.0.0

ECPAY_INVOICE_TEST_MERCHANT_ID=2000132
ECPAY_INVOICE_TEST_HASH_KEY=ejCk326UnaZWKisg
ECPAY_INVOICE_TEST_HASH_IV=q9jcZX8Ib9LM8wYk
ECPAY_INVOICE_TEST_ISSUE_URL=https://einvoice-stage.ecpay.com.tw/B2CInvoice/Issue
ECPAY_INVOICE_TEST_B2B_ISSUE_URL=https://einvoice-stage.ecpay.com.tw/B2BInvoice/Issue
ECPAY_INVOICE_TEST_CHECK_BARCODE_URL=https://einvoice-stage.ecpay.com.tw/B2CInvoice/CheckBarcode

ECPAY_INVOICE_PROD_MERCHANT_ID=
ECPAY_INVOICE_PROD_HASH_KEY=
ECPAY_INVOICE_PROD_HASH_IV=
ECPAY_INVOICE_PROD_ISSUE_URL=https://einvoice.ecpay.com.tw/B2CInvoice/Issue
ECPAY_INVOICE_PROD_B2B_ISSUE_URL=https://einvoice.ecpay.com.tw/B2BInvoice/Issue
ECPAY_INVOICE_PROD_CHECK_BARCODE_URL=https://einvoice.ecpay.com.tw/B2CInvoice/CheckBarcode
